<footer>
  <img src="../../assets/img/foo_logo2.png" class="logo">
  <div class="ad">
    <a href="https://www.wesoftwarex.com"><img src="../../../assets/img/logo-white.png" alt=""></a>
    <h2>Stworzone i rozwijane przez <span class="detail">White Element Software</span></h2>
    <a href="https://www.wesoftwarex.com">www.wesoftwarex.com</a>

  </div>


  <div class="desc">
    <div class="social">
      <a href="#"><img src="../../assets/img/follow_icon1.png" target="_blank"></a>
      <a href="#"><img src="../../assets/img/follow_icon2.png" target="_blank"></a>
      <a href="https://www.facebook.com/Gospodarstwo-rybackie-w-Gorzakwi-318460448295332/" target="_blank"><img
          src="../../assets/img/follow_icon3.png"></a>
      <a href="#"><img src="../../assets/img/follow_icon4.png" target="_blank"></a>
    </div>
    <p>Gorzakiew 49,
      28-221 Gnojno</p>
  </div>
</footer>