@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/_breakpoints";

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: rgb(24, 79, 116);
  padding: 20px 0;
  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  .logo {
    width: 10%;
    text-align: center;
    @include media-breakpoint-down(md) {
      width: 80%;
    }
  }
  .ad {
    width :80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @include media-breakpoint-up(lg) {
      width: 33%;
    }
    h2 {
      color: #0192d7;
      font-size: 22px;
      line-height: 120%;
      text-align: center;
      .detail {
        font-weight: bold;
        color: #ffffff;
      }
      
    }
    
    a{
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: #ffffff;
      margin: 10px 0;
      img {
        width: 80%;
  
        @include media-breakpoint-up(sm) {
          width: 25%;
        }
      }
    }
  }



  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0192d7;
    margin-top: 10px;
    .social {
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-bottom: 10px;
      width: 80%;

      @include media-breakpoint-down(md) {
        width: 20%;
      }
      @include media-breakpoint-down(sm) {
        width: 50%;
      }
      a {
        display: flex;
        justify-content: center;
        img {
          width: 30px;
          cursor: pointer;
        }
      }
    }
  }
}
