<main>
  <div class="content">
    <div class="about-us">
      <h2>O nas</h2>
      <img src="https://fishphotosgosrybackie.s3.eu-west-2.amazonaws.com/photos/page1_pic1.jpg" alt="">
      <p class="sub-title">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, beatae nam! Ullam animi praesentium maiores
        architecto laborum magnam tenetur quo obcaecati laboriosam, nostrum corrupti nihil, voluptas recusandae unde
        veritatis minima!
      </p>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique qui atque dolorum, libero pariatur quidem
        eius
        non possimus illum itaque blanditiis debitis reiciendis consectetur soluta beatae sint nihil dolore. Deserunt!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis dolorum et ut labore temporibus doloremque
        natus nihil ex, enim odio, officia, minus iure distinctio modi eveniet fuga voluptates neque? Praesentium?
      </p>
    </div>
    <div class="choose-us">
      <h2>Dlaczego warto nas wybrać?</h2>
      <div class="box">
        <div class="step">
          <div class="circle">
            <span class="advantage">A</span>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit error distinctio voluptatibus culpa dolorem
          velit accusamus eos commodi beatae. Esse, eaque repudiandae minima inventore sit suscipit dignissimos. Sequi,
          provident tenetur.</p>
      </div>
      <div class="box">
        <div class="step">
          <div class="circle">
            <span class="advantage">B</span>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit error distinctio voluptatibus culpa dolorem
          velit accusamus eos commodi beatae. Esse, eaque repudiandae minima inventore sit suscipit dignissimos. Sequi,
          provident tenetur.</p>
      </div>
      <div class="box">
        <div class="step">
          <div class="circle">
            <span class="advantage">C</span>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit error distinctio voluptatibus culpa dolorem
          velit accusamus eos commodi beatae. Esse, eaque repudiandae minima inventore sit suscipit dignissimos. Sequi,
          provident tenetur.</p>
      </div>
    </div>
    <div class="advantages">
      <h2>Nasze zalety</h2>
      <p class="sub-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus ea laboriosam vel molestiae sit
        magni temporibus fugiat nostrum, facilis repellendus amet cum laudantium odio expedita libero quaerat quasi quae
        excepturi?</p>
      <ul>
        <li>PROIN DICTUM ELEMENTUM VELIT</li>
        <li>PROIN DICTUM ELEMENTUM VELIT</li>
        <li>PROIN DICTUM ELEMENTUM VELIT</li>
        <li>PROIN DICTUM ELEMENTUM VELIT</li>
        <li>PROIN DICTUM ELEMENTUM VELIT</li>
      </ul>
    </div>
  </div>
</main>
