<div class="wave-repeat"></div>

<main>
  <div class="content">
    <img src="../../../../../assets/img/page1_pic7.jpg" alt="">
    <p class="title">Useful info about how to keep care for pet fish</p>
    <p class="text"><span class="detail">Beciegast nveriti vitaesaert asety kertya asetlinerafae kertyasnemo faseraniptaiades</span> kertyaser daesraeds.
      Casrolern aturesertas aut
      oditaut. Binsequngni dolqui rationvolmes lertuas arbosas numquam eiusdi teincidunt, ut labore et dolore magnam.
    </p>
  </div>
</main>
